@page "/"
@layout Layout.HomeLayout

<!-- ---------------------------task------------------------------------ -->
<section id="About" class="task-section mt-0 mt-md-5 px-4">
    <div class="row align-items-lg-center task-content gx-2 gy-5  justify-content-between flex-column-reverse flex-lg-row">
        <div class="col col-lg-6">
            <img class="task-feature" src="/assets/img/ai.webp" alt="task picture">
        </div>
        <div class="col col-lg-6">
            <div class="taskSec-content mt-0 mt-md-5">
                <h1 class="section-heading fs-1 mb-3">Powered by Generative AI</h1>
                <p class="section-subhead">We craft your resume with the power of AI. Relevant keywords are used while generating you resume.</p>
                <NavLink type="button" class="btn mt-4 task-section-cto px-4 py-2 rounded-pill" Href="generateresume">
                    Learn more
                </NavLink>
            </div>
        </div>
    </div>

    <img class="round-shape" src="/assets/img/round.svg" alt="round shape">
</section>


<!-------------------- customer---------------- -->
<section id="customer">
    <h1 class="fs-1 text-center m-auto section-heading customer-heading" style="color: #501cab;">Used By Candidates for cracking the screening Interview...</h1>
    @* <img class="w-100 mt-5 m-auto d-block" src="/assets/img/customer.png" alt="customer logo"> *@
</section>

<!------------ testimonial ------------>
<section id="testimonial" class="position-relative">

    <div class="testimonial-wrapper px-md-0 m-auto">
        <div class="row w-100 flex-wrap gx-0 gx-md-3">
            <div class="col col-md-5 ms-0 ms-lg-5 ps-4 ps-lg-5">
                <h1 class="fs-1 section-heading testimonial-header" style="color: #501cab;">Let's see what other candidates have to say who used JobGenie...'</h1>
                <p class="section-subhead mt-3 testimonial-Subheader" style="color: #501cab;">Create an ATS friendly resume that helps you clear the screening round.</p>
            </div>
            <div class="col col-md-6 testimonial-card-wrapper-col">
                <div class="d-flex px-3 testimonial-card-wrapper">
                    <div class="testimonial-card p-4 py-3 py-md-5 me-0 me-md-3">
                        <p class="desc">I'am glad that I came to know about the JobGenie AI based resume builder. It took the information from me and I was given a perfect resume to ace my resume screening round.</p>
                        <div class="author mt-3 d-flex align-items-center">
                            <img src="/assets/img/Avatar-2.png" alt="user profile image">
                            <span class="ms-2">Aditya Sharma</span>
                        </div>
                    </div>
                    <div class="testimonial-card p-4 py-3 py-md-5">
                        <p class="desc">JobGenie is free to use and most importantly it is easy to use. It was able to generate my resume within few minutes and their mock test was fun and easy to take.</p>
                        <div class="author mt-3 d-flex align-items-center">
                            <img src="/assets/img/Avatar-2.png" alt="user profile image">
                            <span class="ms-2">Karan Pargaien</span>
                        </div>
                    </div>
                </div>

                @* <span class="testimonial-next rounded-circle d-flex justify-content-center align-items-center" aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
                <span class="testimonial-prev  bg-white rounded-circle d-flex justify-content-center align-items-center" aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span> *@
            </div>
        </div>
    </div>
</section>

<!---------- footer ------------>
<footer class="footer">
    <div class="footer-wrapper m-auto">
        <div class="d-flex section-subhead justify-content-center justify-content-md-between">
            <p class="d-none d-md-block">Made with <i class="fa-solid fa-heart text-danger"></i> by Aditya and Karan</p>
            <p class="text-center d-block">Copywrite © Taazaa, 2024</p>
            <!-- <span class="d-none d-md-block">Help center</span> -->
        </div>
    </div>
</footer>